/* Styles specific to about.html (about me)*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color:rgb(224, 224, 224);
}

header {
  background-color:  rgb(245, 197, 24);
  color:black;
  padding: 20px;
  
}
header #cinemania{
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

section {
  padding: 20px;

  
}

.about-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
  
.about-section h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}
  
.about-section p {
  font-size: 20px;
  color: black;
  line-height: 1.5;
}
footer {
  background-color: #333333;
  color: rgb(245, 197, 24);
  padding: 10px;
  text-align: center;
}